/* Place CSS styles here */
body {
    background-color: #efe8de;
}

.top-bar {
    background-color:#1b2257 ;
    color: #efe8de;
    box-sizing: 100%;
    padding: 0px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #aa1717;
    text-align: center;
    text-transform: uppercase;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
.London {
    width: 100% ;
    height: auto;
    border-radius: 24px;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  max-width: 1100px;
  margin: 80px auto;
  padding: 0 40px;
}

.split-image img {
  width: 20%;
  height: auto;
  display: block;
}

.split-text {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #aa1717;
}
