/* Place CSS styles here */
body {
    background-color: #efe8de;
}

.top-bar {
    background-color:#1b2257 ;
    color: #efe8de;
    box-sizing: 100%;
    padding: 0px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #aa1717;
    text-align: center;
    text-transform: uppercase;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
.London {
    width: 100% ;
    height: auto;
}

.intro {
    text-align: center;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1b2257;
}

.line-style1 {
  border: none;
  height: 7px;
  background-color: #1b2257;
  margin: 24px auto;
  border-radius: 999px;
  width: 60%;
}

.line-style2 {
    border: none;
    height: 25px;
    background-color: #aa1717;
    margin: 10px 0;
}

.Hotels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  max-width: 1100px;
  margin: 0px;
  padding: 0px;
}

.split-image img {
  width: 100%;
  height: auto
}

.split-text {
    align-items: center;
}
.Stay-head {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    color: #1b2257;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: italic;
}

.stay-list {
    text-align: left;
    font-size: 20px ;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #aa1717;
}


.hotel-photos {
    max-width: 100%;
    height: auto;
}

.Dining {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    max-width: 1100px;
    margin: 0px;
    padding: 0px;
}

.dine-head {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    color: #1b2257;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: italic;
}

.dine-list {
    text-align: left;
    font-size: 20px ;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #aa1717;
}

.diner-photos {
    max-width: 100%;
    height: auto;
}

.Attractions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    max-width: 1100px;
    margin: 0px;
    padding: 0px;
}

.attractions-head {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    color: #1b2257;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: italic;
}

.attractions-list {
    text-align: left;
    font-size: 20px ;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #aa1717;
}

.attractions-photos {
    max-width: 100%;
    height: auto;
}

.Picks-Visit {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto; 
  gap: 40px;
}

.Top-Picks {
    border: solid #1b2257;
    background-color: #aa1717;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-transform: uppercase;
    color: #efe8de;
    border-radius: 70px;
    padding: 6px 70px;
    margin: 3px 0;
    text-align: center;
    display: table;
}

.picks-numbered {
    text-align: left;
    font-size: 20px ;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #aa1717;
}

.Visit {
    border: solid #1b2257;
    background-color: #aa1717;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-transform: uppercase;
    color: #efe8de;
    border-radius: 70px;
    padding: 6px 70px;
    margin: 3px 0;
    text-align: center;
    display: table; 
}

.Link {
    text-align: left;
    font-size: 20px ;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #aa1717;
}

.london-link {
    color: #1b2257;
     text-align: left;
    font-size: 20px ;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: italic;
}